<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348620703670-gcvag0jlqkiflva4ppnac8hn33kktf5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348620703670-gcvag0jlqkiflva4ppnac8hn33kktf5i</string>
	<key>API_KEY</key>
	<string>AIzaSyChl22LUo8-kxdYZtcFa725itlgHuF82Og</string>
	<key>GCM_SENDER_ID</key>
	<string>348620703670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodSampleTodos</string>
	<key>PROJECT_ID</key>
	<string>riverpod-sample-todos</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-sample-todos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348620703670:ios:0ccab3554e4a801e7b2317</string>
</dict>
</plist>